.hero {
  background-color: #d7dbdf ;
  text-align: center;
  padding: 80px 20px;
}

.event-tag {
  background-color: #e8f4ff ;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 20px;
  color: #007bff;
  font-weight: 500;
  margin-bottom: 10px;
}

.event-title {
  
  font-size: 48px;
  font-weight: 700;
  margin: 10px 0;
}

.event-subtitle {
  font-size: 18px;
  color: #555;
}

.event-info {
  margin: 15px 0;
  color: #666;
  font-size: 14px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.event-desc {
  max-width: 600px;
  margin: 20px auto;
  color: #444;
}

.buttons {
  margin-top: 25px;
}

.register-btn,
.schedule-btn {
  border: none;
  padding: 12px 24px;
  margin: 10px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
}

.register-btn {
  background-color: #007bff;
  color: white;
}

.schedule-btn {
  background-color: white;
  border: 2px solid #007bff;
  color: #007bff;
}

.schedule-btn:hover {
  background-color: #007bff;
  color: white;
}
